html, body {
	width: 100%;
	height: 100%;
}

#instrucciones {
	position:fixed;
	left:492px;
	margin-right:30px;
}

#linepanel {
	position: fixed;
	text-align: center;
	left: 480px;
	top: 120px;
  margin-top: 75px;
  width: 198px;
  height: 220px;
  float: right;
  border: 1px solid black;
}

#red {
	position:fixed;
	font-size: 125%;
	top:260px;
	left:512px;
}
#white {
	position:fixed;
	font-size: 125%;
	top:260px;
	left:585px;
}

#bt_upload {
	position:fixed;
	background-color:#83f78d;
	font-size: 125%;
	top:360px;
	left:482px;
}
#clr {
	position:fixed;
	background-color:#f788a9;
	font-size: 125%;
	top:360px;
	left:555px;
}


.canv {
	position:absolute;
	cursor:crosshair;
	top:5px;
	left:20px;
	border:2px solid;"
}
